.app-info-section{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-sizexl);
  font-family: var(--font-familyHeading);
  text-shadow: 1px 2px 0px #101010;
  color: #fff;
}
.app-info-section span {
  background: red;
  line-height: 1;
  padding-top: 3px;
}