.app-info-section{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-sizexl);
  font-family: var(--font-familyHeading);
  text-shadow: 1px 2px 0px #101010;
  font-weight: 400;
  -webkit-text-stroke: 1px #000000;
  -webkit-text-fill-color: white;
  color: #fff;
}
.app-info-section span {
  line-height: 1;
  margin-top: 4px;
}