@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --dark-gray: #2c323a;
  --pink: #e6007a;
}

body {
  background-image: url(/src/assets/imgs/bg-img-1.png);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

a,
p,
button,
ul,
option,
input,
div,
section,
select {
  font-family: "Luckiest Guy", cursive;
  font-style: normal;
  color: #fff;
}
