@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Outfit:wght@100..900&display=swap");

:root {
  --dark-gray: #2c323a;
  --pink: #e6007a;
  --pink-light: #ff8fca;
  --black: #101010;
  --white: #fff;
  --gray: #6e7d91;
  --blue: #2e90fa;

  --font-familyBody: "Outfit", sans-serif;
  --font-familyHeading: "Luckiest Guy", cursive;
  --font-sizexs: 11px;
  --font-sizexl: 24px;
  --font-size4xl: 40px;
  --line-heighthxs: 12px;
}

body {
  background-image: url(/src/assets/imgs/bg-img-1.png);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  color: #fff;
  /* font-weight: 11.1; */
}

a,
p,
button,
ul,
option,
input,
div,
section,
select {
  font-optical-sizing: auto;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 11;
  font-style: normal;
}

.luckiest {
  font-family: "Luckiest Guy", cursive;
  font-weight: 11;
  font-style: normal;
}

.display-section {
  background: linear-gradient(43.45deg, #691896 0%, #2e90fa 99.17%);
  border-radius: 36px 36px 0px 0px;
  border-top: 4px solid var(--pink, #e6007a);
  margin-top: 32px;
  overflow: hidden;
  padding: 0px !important;
}
.display-section-cover {
  min-height: 588px;
  padding: 16px 16px 60px 16px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.display-section-cover:before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: url(/src/assets/imgs/bg-img-1.png);
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
