.coin-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: var(--font-size4xl);
  font-family: var(--font-familyHeading);
  font-weight: 400;
  text-shadow: 2px 5px 0px #101010;
  -webkit-text-stroke: 2px #000000;
  -webkit-text-fill-color: white;
  color: #fff;
}
.coin-counter div {
  line-height: 1;
  margin-top: 5px;
}
.coin-counter img {
  border-radius: 50%;
  box-shadow: 1px 2px 0px 0px var(--black);
}
